body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
.quiz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.question-container {
  width: 25%;
  margin: 20px 0;
  box-sizing: border-box;
}
.question {
  font-size: 20px;
  margin-bottom: 10px;
}
.answer {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 80%;
}
.correct {
  background-color: #4caf50;
  color: #fff;
}
.incorrect {
  background-color: #f44336;
  color: #fff;
}
#correct-result,
#wrong-result {
  background-color: antiquewhite;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#enToAr,
#arToEn {
  height: 250px;
  width: 250px;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .question-container {
    width: 100%;
  }
}
